body{
    font-family: 'Roboto Condensed', sans-serif;
    
}
nav{
    background: white;
    font-size: 18px;
}



/* MAIN */
h1{

    margin: 70px 0 50px 0;
    text-align: center;
}


.main-head {
    
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    min-height: 100vh;
    overflow: hidden;
}
.main_text{
    text-align: center;
    padding: calc(50vh - 350px/2) 0px 0px 0px;
    min-height: 100vh;
    overflow: hidden;
    
    background: rgba(0, 0, 0, 0.726);
    color: white;
    font-size: 60px;
    
}
h2{
    margin: 20px;
}
.main_text img{
    width: 300px;   
}
.btn {
    width: 200px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    
    padding: 10px 30px;
    position: relative;
    border: 2px solid #f1c40f;
    color: #f1c40f;
    font-family: 'Montserrat', sans-serif; 
    transition: .4s;
  }
  .btn:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0);
    transition: .4s;
  }
  .btn:hover:after {
    
    border-color: #f1c40f;
    width: calc(100% - 20px);
    height: calc(100% + 10px);
  }
  main a:hover{
      color: #f1c40f !important;
  }

/* Cart */
* {box-sizing: border-box;}
.product-wrap {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 0 0 20px;
  text-align: center;
  font-size: 14px; 
  font-family: Lora;
  text-transform: uppercase;
}
.product-item {
  position: relative;
  overflow: hidden;
}
.product-wrap img {
  display: block;
  width: 100%;
}
.product-buttons {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  opacity: 0;
  transition: .3s ease-in-out;
}
.button { 
  text-decoration: none;
  color: #f1c40f;
  font-size: 12px;
  width: 140px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50%; 
  left: 50%;
  border: 2px solid #f1c40f;
  transform: translate(-50%, -50%) scale(0);
  transition: .3s ease-in-out;
}
.button:before {
  
  
  margin-right: 10px;
}
.product-item:hover .product-buttons {opacity: 1;}
.product-item:hover .button {transform: translate(-50%, -50%) scale(1);}
.button:hover {background: black;}
.product-title {color: #5e5e5e;}
.product-title a {
  text-decoration: none;
  color: #2e2e2e;
  font-weight: 600;
  margin: 15px 0 5px;
  padding-bottom: 7px;
  display: block;
  position: relative;
  transition: .3s ease-in-out;
}
.product-title a:after{    
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background: #2e2e2e;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  transition: .3s ease-in-out;
}
.product-title a:hover {color: #f1c40f;}
.product-title:hover a:after {background: #f1c40f;}
.product-price {
  font-size: 20px;
  color: #f1c40f;
  font-weight: 700;
}

/* characteristics */
.characteristics{
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.76);
    font-weight: bold;
}
.prem{
    margin: 0 auto;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
}
h3{
    margin: 20px;
}
.lightcase-icon-close:before {
    content: 'x'!important;
}



/* Гирлянда */

#garland {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('http://imapo.ru/img/christmas.png');
  height: 36px;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}

#nums_1 {
  padding: 100px
}

.garland_1 {
  background-position: 0 0
}

.garland_2 {
  background-position: 0 -36px
}

.garland_3 {
  background-position: 0 -72px
}

.garland_4 {
  background-position: 0 -108px
}
/* --- */
/* stock */
.s5img{
  width: 200px;
}
.stock{
  padding: 20px;
  text-align: center;
  background: url("../img/stok5.jpg") no-repeat;

  background-size: cover;
  background-position: center;
  width: 100%;
}
#blink2 {
  margin-top: -5px;
  color: red;
  -webkit-animation: blink2 1s linear infinite;
  animation: blink2 1s linear infinite;
}
@-webkit-keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}


/* Form */

.form-dark .font-small {
  font-size: 0.8rem; }

.form-dark [type="radio"] + label,
.form-dark [type="checkbox"] + label {
  font-size: 0.8rem; }

.form-dark [type="checkbox"] + label:before {
  top: 2px;
  width: 15px;
  height: 15px; }

.form-dark .md-form label {
  color: #fff; }

.form-dark input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=email]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851; }

.form-dark input[type=password]:focus:not([readonly]) + label {
  color: #fff; }

.form-dark input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  z-index: 0;
  border: 1.5px solid #fff;
  border-radius: 1px;
  margin-top: 2px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.form-dark input[type="checkbox"]:checked + label:before {
  top: -4px;
  left: -3px;
  width: 12px;
  height: 22px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent #00c851 #00c851 transparent;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.form-dark .modal-header {
    border-bottom: none;
}
.rgba-stylish-strong {
  border: 1px solid #f1c40f;
  background-color: rgba(0, 0, 0, 0.7) !important;
}
  @media (max-width:320px){
    .main_text{

        padding: calc(50vh - 450px/2) 0px 0px 0px;

        
    }
    h2 {
      margin: 10px;
  }
    .main_text img{
        width: 250px;
    }
  }
  @media (max-width:480px){
    h2 {
      margin: 15px;
  }
    .reee{
      width: 100px !important;
      height: 100px !important;
      background: url("../img/reee.png") no-repeat;
      background-size: cover;
      text-align: center;
      justify-content: center;
      line-height: 150px !important;
      font-size: 30px !important;
      z-index: 999;
      position: fixed;
      bottom: 20px;
      right: 20px;
    }
    .s5img{
      width: 99px;
    }
    .main-head {
      background-image: url("../img/1m.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: bottom;
      min-height: 100vh;
      overflow: hidden;
  }
  }


  .pl-5, .px-5 {
    padding-left: 1.5rem!important;
}

.pb-5, .py-5 {
    padding-bottom: 1rem!important;
}
.pr-5, .px-5 {
    padding-right: 1.5rem!important;
}
.pt-5, .py-5 {
    padding-top: 2rem!important;
}

.carousel-item{
  height: 500px;
}
.reee{
  width: 200px;
  height: 200px;
  background: url("../img/reee.png") no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  line-height: 300px;
  font-size: 50px;
  z-index: 999;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
